alabaster==0.7.12
Babel==2.6.0
docutils==0.14
glob2==0.6
imagesize==1.1.0
Jinja2==2.10.1
livereload==2.6.0
MarkupSafe==1.1.1
Pygments==2.3.1
pytz==2019.1
recommonmark==0.6.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinx-rtd-theme==0.4.3
tornado==6.0.2
