alabaster==0.7.12
Babel==2.7.0
docutils==0.15.2
glob2==0.7
imagesize==1.1.0
Jinja2==2.10.1
livereload==2.6.1
MarkupSafe==1.1.1
Pygments==2.4.2
pytz==2019.2
recommonmark==0.6.0
six==1.12.0
snowballstemmer==1.9.1
Sphinx==2.2.0
sphinx-rtd-theme==0.4.3
tornado==6.0.3
